<div class="row">
  <div class="col-1 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Communication System
      </h4>

      <p>
        Create or join a room and chat with other users!
      </p>
    </div>
  </div>
</div>
